<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/output.css" rel="stylesheet"/>
    <title>Axum Admin Home</title>
</head>
  <body>
    <nav class="bg-gray-200 text-gray-900 h-16 flex justify-start items-center">
        <ul class="flex items-center w-[60%] justify-start space-x-16">
          <li class="">
            <h1 class="text-bold text-xl w-[256px] text-center">Axum Admin</h1>
          </li>
          <li class="">
            <a href="/admin/#Open_Forms" class="no-underline hover:underline">
              Open Forms
            </a>
          </li>
          <li class="">
            <a href="/admin/#Archives" class="no-underline hover:underline">
              Archives
            </a>
          </li>
          <li class="">
            <a href="/admin/form/new" class="no-underline hover:underline">
              + New form
            </a>
          </li>
        </ul>
    </nav>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>