<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/output.css" rel="stylesheet" />
  <title>Axum Forms 404</title>
</head>
<section class="bg-gray-100 text-gray-700 w-screen h-screen flex justify-center items-center">
  <div class="pl-8 space-y-2">
    <h1 class="text-3xl font-bold w-full h-8">404 | The page you came for is not on this server</h1>
    <div class="text-xl text-gray-600 text-center">Note: Remove any trailing slashes in url if you are sure that page
      exists</div>
    <h2 class="text-xl w-full h-8">{{message}}</h2>
    <div class="justify-center space-x-8 w-full flex text-xl text-blue-700 underline"><a href="/login">Login</a> <a
        href="/">Home</a> <a href="/forms">Forms</a></div>
  </div>
</section>

</html>