
{% extends "nav.html" %}

{% block title %}Form {{id}}{% endblock %}


{% block content %}
    <section class="bg-gray-100 text-gray-700 p-8 flex justify-center flex-col items-center">
        <p class="mt-4">This is a form page</p>
        <p class="mt-4">Form ID: {{id}}.</p>

        <form class="flex flex-col items-center space-y-4 w-[80%] justify-center" method="post">
        {% for els in el %}
        <label class="block w-[50%]">
          <span class="text-gray-700">{{els.question}}</span>
          <input type={{ els.typ }} class="mt-1 block w-full form-input" placeholder="{{els.fname}}" />
        </label>
        {% endfor %}
        </form>
    </section>
    
  {% call super() %}
{% endblock %}
