
{% extends "nav.html" %}

{% block title %}Forms Home{% endblock %}


{% block content %}
    <section class="w-screen min-h-screen">
        <p class="pt-12 pl-12 text-4xl font-bold pb-4">Good Morning, </p>
        <p class="pt-2 pl-12 text-4xl font-bold mb-16">{{name}} </p>
        <div class="p-12 bg-gray-100 w-screen">
          <div class="h-4"></div>
          <p class="text-4xl font-bold mb-4 ">Open Forms</p>
          <div class=" rounded-md grid grid-cols-4 place-content-evenly gap-12 w-full">
            <div class="h-56 w-80 bg-stone-300 rounded-lg hover:bg-stone-200 transition-all duration-200"></div>
            <div class="h-56 w-80 bg-stone-300 rounded-lg hover:bg-stone-200 transition-all duration-200"></div>
            <div class="h-56 w-80 bg-stone-300 rounded-lg hover:bg-stone-200 transition-all duration-200"></div>
            <div class="h-56 w-80 bg-stone-300 rounded-lg hover:bg-stone-200 transition-all duration-200"></div>
            <div class="h-56 w-80 bg-stone-300 rounded-lg hover:bg-stone-200 transition-all duration-200"></div>
          </div>
      </div>
      <div class="p-12 bg-gray-100 w-screen">
        <div class="h-4"></div>
        <p class="text-4xl font-bold mb-4">Archives</p>
        <div class=" rounded-md grid grid-cols-4 place-content-evenly gap-12 w-full">
          <div class="h-56 w-80 bg-stone-300 rounded-lg hover:bg-stone-200 transition-all duration-200"></div>
          <div class="h-56 w-80 bg-stone-300 rounded-lg hover:bg-stone-200 transition-all duration-200"></div>
          <div class="h-56 w-80 bg-stone-300 rounded-lg hover:bg-stone-200 transition-all duration-200"></div>
          <div class="h-56 w-80 bg-stone-300 rounded-lg hover:bg-stone-200 transition-all duration-200"></div>
          <div class="h-56 w-80 bg-stone-300 rounded-lg hover:bg-stone-200 transition-all duration-200"></div>
        </div>
    </div>
    </section>
  {% call super() %}
{% endblock %}
