<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="output.css" rel="stylesheet"/>
    <title>Axum Forms Home</title>
</head>
  <body>
    <section class="bg-gray-100 text-gray-700 p-8">
        <p class="mt-4">This is a Login page</p>
        <p class="mt-4">Hello {{name}}.</p>
        <p class="mt-4">We don't have any templates here.</p>
    </section>
  </body>
</html>