<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="output.css" rel="stylesheet"/>
    <title>Axum Forms Login</title>
</head>
  <body>
    <section class="bg-gray-100 text-gray-700 p-8">
        <p class="mt-4">This is a Login page</p>
        <p class="mt-4">Hello {{name}}.</p>
        <form method="post" class="flex flex-col space-y-4 w-64">
          <input type="email" name="email"/>
          <input type="password" name="password"/>
          <button type="submit">Submit</button>
        </form>
    </section>
  </body>
</html>