<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/output.css" rel="stylesheet"/>
    <title>Axum Forms Home</title>
</head>
  <body>
    <nav class="bg-gray-200 text-gray-900 px-4 h-16 flex justify-start items-center">
        <ul class="flex items-center w-[60%] justify-start space-x-16">
          <li class="px-8">
            <h1 class="text-bold text-xl">Axum Super Forms</h1>
          </li>
          <li class="">
            <a href="/" class="no-underline hover:underline">
              Home
            </a>
          </li>
          <li class="">
            <a href="/forms" class="no-underline hover:underline">
              forms
            </a>
          </li>
        </ul>
    </nav>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>